<footer>
  <div class="footer">
    <p id="copyright"></p>

    <script>
      var currentYear = new Date().getFullYear();

      document.getElementById("copyright").textContent =
        "Copyright © " + "Asilcan Toper " + currentYear;
    </script>
    <a href="https://github.com/KapteynUniverse"
      ><img src="assets/icons/github.png"
    /></a>
    <a href="https://www.linkedin.com/in/asilcan-toper-46a437207/"
      ><img src="assets/icons/linkedin.png"
    /></a>
  </div>
</footer>
