<form action="/search" method="get" class="search-bar">
  <input
    type="text"
    placeholder="Search for Anime/Movie/TV Show"
    name="search"
  />
  <button type="submit"><i class="fa fa-search"></i></button>

  <nav>
    <button class="menu" disabled>Menu</button>
    <div class="menu-content">
      <a href="/">Home</a>
      <a href="/watchlist">Watchlist</a>
      <a href="/movies">Movies</a>
      <a href="/tv-shows">TV Shows</a>
      <a href="/users">Users</a>
      <a href="/logout" role="button">Logout</a>
    </div>
  </nav>
</form>
