<%- include('partials/header') %>

<h1>Login</h1>

<!-- Makes POST request to /login route -->
<form action="/login" method="POST">
  <label for="email">Email:</label>
  <input type="email" name="email" />

  <label for="password">Password:</label>
  <input type="password" name="password" />

  <button type="submit">Login</button>
</form>

<h1>Register</h1>

<!-- Makes POST request to /login route -->
<form action="/register" method="POST">
  <label for="email">Email:</label>
  <input type="email" name="email" />

  <label for="password">Password:</label>
  <input type="password" name="password" />

  <button type="submit">Login</button>
</form>

<div class="card-body">
  <a class="btn btn-block" href="/auth/google" role="button">
    Sign In with Google
  </a>
</div>

<%- include('partials/footer') %>
