<%- include("partials/header.ejs") %>
  <body>

    <!-- Searchbar -->
    
      <form action="/search" method="get" class="search-bar">
        <nav>
          <button class="menu" disabled>Menu</button>
          <div class="menu-content">
            <a  href="/" role="button">Home</a>
            <a  href="/profile">Profile</a>
            <a  href="/movies" role="button">Movies</a>
            <a  href="/tv-shows" role="button">TV Shows</a>
            <a  href="/users" role="button">Users</a>
            <a  href="/logout" role="button">Logout</a>
          </div>
        </nav>
        <input
          type="text"
          placeholder="Search for Movie/Anime/TV Show"
          name="search"
        />
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
      
      <!-- Show search results -->
    
    
       
          <h1 class="title">SELECT AN USER TO VIEW THEIR AMTss</h1>
          <ul>
            <% users.forEach(user => { %>
              <li>
                <a href="/<%= user.user %>"><%= user.user %></a>
              </li>
            <% }) %>
          </ul>
 
    <%-include("partials/footer.ejs") %>
  </body>
</html>
