* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(45deg, #ffd195, #ffb283);
}

.up-arrow {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.up-arrow:hover {
  opacity: 0.7;
  cursor: pointer;
}

.menu {
  padding: 10px;
  background-color: #4285f4;
  color: white;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  width: 96px;
}

nav {
  position: relative;
  display: inline-block;
}

.menu-content {
  display: none;
  position: absolute;
  background-color: #4285f4;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menu-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.menu-content a:hover {
  background-color: #357ae8;
  border-radius: 5px;
}

nav:hover .menu-content {
  display: block;
  color: white;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

nav:hover .menu {
  background-color: #357ae8;
}

.search-bar {
  display: flex;
  align-items: center;
  padding: 10px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 1;
}

button {
  padding: 10px;
  background: #ddd;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #ccc;
}

.logout {
  padding: 10px;
  background-color: #4285f4;
  color: white;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.logout:hover {
  background-color: #357ae8;
}

h1 {
  text-decoration: underline;
}

h2 {
  height: 50px;
}

.radio-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.radio-container {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
}

.radio-container:hover input ~ .checkmark {
  background-color: #eee;
}

.radio-container input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-container input:checked ~ .checkmark:after {
  display: block;
}

.radio-container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.likes-container {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
}

.like-icon {
  display: block;
}

.likes-count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 12px;
  cursor: default;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  align-items: stretch;
}

.grid-item,
.update-flex {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 5px;
  border-radius: 10px;
  min-width: 450px;
}

.char-count {
  font-size: 16px;
  color: grey;
  text-align: right;
  margin-top: 5px;
}

.watchlist-btn,
.like-btn {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  top: 10px;
  left: 10px;
}

.invisible {
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 4px 0;
  position: absolute;
  z-index: 1;
  bottom: 105%;
  opacity: 0;
  margin-left: -55px;
  transition: opacity 0.3s;
}

.watchlist-btn:hover,
.like-btn:hover {
  background: none;
}

.watchlist-btn:hover .invisible {
  opacity: 1;
}

.grid-item > .poster-card,
.grid-item > .description,
.grid-item > .date {
  flex-grow: 1;
}

.grid-item > .poster-card,
.grid-item > .add-btn,
.grid-item > .buttons,
.grid-item > .title {
  align-self: center;
}

.poster-card {
  display: flex;
}

.title {
  font-size: 32px;
  text-align: center;
}

.poster {
  width: 300px;
}

.bold {
  font-weight: bold;
}

.ratings {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.ratings span {
  cursor: pointer;
  transition: color 0.2s, transform 0.2s;
  font-size: 48px;
}

.ratings span:hover {
  color: yellow;
  transform: scale(1.3);
}

.ratings span:hover ~ span {
  color: yellow;
}

.rated span {
  font-size: 32px;
  cursor: default;
}

.rated {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.active-star {
  color: yellow;
}

.add-btn,
.dlt-btn,
.upd-btn {
  position: relative;
  background: #fff;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
}

.flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.form-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.flex-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 300px;
  margin-top: 20px;
}

.flex-item {
  margin-bottom: 15px;
  width: 100%;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.login {
  display: block;
  width: 50%;
  padding: 10px;
  background-color: #4285f4;
  color: white;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
}

.login:hover {
  background-color: #357ae8;
}

.google-container {
  width: calc(300px * 2 + 20px);
  text-align: center;
}

.btn-block {
  display: inline-block;
  width: 100%;
  padding: 10px;
  background-color: #4285f4;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn-block:hover {
  background-color: #357ae8;
}

.update-flex {
  max-width: 450px;
}
.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.poster-card {
  justify-content: center;
}

.grid-container-users {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  align-items: center;
  gap: 10px;
}

.user-card {
  margin: 10px;
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.user-card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.user-card > a {
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
}

a:hover,
a:focus {
  color: white;
}

.profile-picture {
  height: 150px;
  border-radius: 50%;
  width: 150px;
}

li {
  list-style-type: none;
}

.grid-container-users {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.footer {
  text-align: center;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

@media screen and (max-width: 1400px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 930px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 600px) {
  .form-container {
    flex-direction: column;
    gap: 10px;
  }
  .google-container {
    width: 300px;
    text-align: center;
  }
}
